# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**/._*
**.log
**.out

# Ignore files from analysis and data
*/data/*
*/analysis/*
*/results/*


# Include script files
!*/scripts/*
!*/documentation/*
