#!/bin/bash

# Run parameters
export wd="/hpc/pmc_vanheesch/projects/Jip/pilots/20230606_JD_containers"
export project_folder="${wd}/01_rnaseq"
export project_data_folder="${project_folder}/data/raw"
export outdir="${project_folder}/analysis/container"
export scriptdir="${project_folder}/scripts/container"
export simul_array_runs=6
export paired_end="true"
export projectname="container_pilot"
export merged_gtf_basename="container_pancreas"
export create_annotation="TRUE"

# Reference parameters
export species="Homo_sapiens"
export genome_version="GRCh38"
export annot_version="102"

# Transcript filtering parameters
export min_occurrence=3
export min_tpm=1 

# Set paths
export resource_dir="/hpc/pmc_vanheesch/shared_resources"
export container_dir="/hpc/local/Rocky8/pmc_vanheesch/singularity_images"
export data_folder="/hpc/pmc_vanheesch/data"  # Data folder containing all of our sequencing data

# Set reference files
export star_index_basedir="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/STAR/2.7.8a"
export reference_gtf="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/annotation/${species}.${genome_version}.${annot_version}.gtf"
export refseq_gtf="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/annotation/${species}.${genome_version}.p13"
export reference_genome="/${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna.primary_assembly.fa"
export masked_fasta="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna_sm.primary_assembly.fa"
export twobit="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/${species}.${genome_version}.dna.primary_assembly.2bit"
export kallisto_index="${resource_dir}/GENOMES/${species}.${genome_version}/${annot_version}/kallisto/0.44/kallisto_index"
