#!/bin/bash

###############################
### To be changed every run ###
###############################
# Run parameters
export wd="/hpc/pmc_vanheesch/projects/Jip/pilots/20230606_JD_containers"
export project_folder="${wd}/02_riboseq"
export project_data_folder="${project_folder}/data/raw"
export outdir="${project_folder}/analysis/base"
export scriptdir="${project_folder}/scripts/base"
export simul_array_runs=6
export pool_id="base_merged"
export custom_gtf=""
export custom_annotation=""
export custom_annotation_package=""

# Reference parameters
export paired_end="false"
export species="Homo_sapiens"
export genome_version="GRCh38"
export annot_version="102"

# Set paths
export resource_dir="/hpc/pmc_vanheesch/shared_resources/GENOMES/${species}.${genome_version}/${annot_version}"
export data_folder="/hpc/pmc_vanheesch/data"  # Data folder containing all of our sequencing data

#######################
### Reference files ###
#######################
export reference_gtf="${resource_dir}/annotation/Homo_sapiens.GRCh38.102.gtf"
export reference_genome="${resource_dir}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
export reference_annotation="${resource_dir}/annotation/Homo_sapiens.GRCh38.102.gtf_Rannot"
export reference_annotation_package="${resource_dir}/annotation/BSgenome.Homo.sapiens.GRCh38.102"
export star_index_basedir="${resource_dir}/STAR/2.7.8a"
export bowtie2_index="${resource_dir}/bowtie2/2.4.2/heesch_riboseq_contaminants"

#######################
### Module versions ###
#######################
export cutadapt_version=3.4
export fastqc_version=0.11.9
export trimgalore_version=0.6.6
export bowtie2_version=2.4.2
export star_version=2.7.8a
export samtools_version=1.12
export r_version=4.1.2
export pandoc_dir="/hpc/local/CentOS7/pmc_vanheesch/software/pandoc/bin"

###########################
### Resource allocation ###
###########################
export low_mem=8G
export medium_mem=48G
export high_mem=140G
export low_cpu=1
export medium_cpu=6
export high_cpu=12
