###############################
### To be changed every run ###
###############################
wd="/hpc/pmc_vanheesch/projects/"
pool_id="pooled"
custom_gtf="none"
custom_annotation="none"
custom_annotation_package="none"

#######################
### Reference files ###
#######################
scriptdir="/hpc/local/CentOS7/pmc_vanheesch/pipelines/map_riboseq"
reference_gtf="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/annotation/Homo_sapiens.GRCh38.102.gtf"
reference_genome="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
reference_annotation="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/annotation/Homo_sapiens.GRCh38.102.gtf_Rannot"
reference_annotation_package="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/annotation/BSgenome.Homo.sapiens.GRCh38.102"
star_index_basedir="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/STAR/2.7.8a"
bowtie2_index="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102/bowtie2/2.4.2/heesch_riboseq_contaminants"
data_folder="/hpc/pmc_vanheesch/data/"
resource_dir="/hpc/pmc_vanheesch/shared_resources/GENOMES/Homo_sapiens.GRCh38/102"

#######################
### Module versions ###
#######################
cutadapt_version=3.4
fastqc_version=0.11.9
trimgalore_version=0.6.6
bowtie2_version=2.4.2
star_version=2.7.8a
samtools_version=1.12
r_version=4.1.2
pandoc_dir="/hpc/local/CentOS7/pmc_vanheesch/software/pandoc/bin"
###########################
### Resource allocation ###
###########################
low_mem=8G
medium_mem=48G
high_mem=140G
low_cpu=1
medium_cpu=6
high_cpu=12
